{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Contact Us: Drop Your Query</h1>
    <div class="container">
        <form action="contact" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Contact</label>
                <input type="text" class="form-control" name="contact" id="contact" placeholder="Enter Phone No">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">City</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Enter Your City">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <script src="" async defer></script>
</body>
</html>

{% endblock content %}