{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
    </head>
    <body>
        <h1 class="text-center my-2">My All Members</h1>
        <div class="container my-2">
            {% for item in all %}
            <div class="row">
                <div class="col">{{item.name}} </div>
                <div class="col">{{item.email}}</div>
                <div class="col">{{item.contact}}</div>
                <div class="col">{{item.city}}</div>
            </div>
        {% endfor %}
        </div>
        
        <script src="" async defer></script>
    </body>
</html>

{% endblock content %}